.footer {
  height: 100px;
  padding: 0 30px;
}
.footer__top {
  padding: 15px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.footer__contributors {
  margin-right: 12px;
}
.footer__contributors a, .footer__contributors span {
  font-size: 14px;
}
.footer__contributors a {
  font-weight: 600;
  margin-right: 4px;
  color: rgba(0, 0, 0, .6);
  text-decoration: none;
}
.footer__contributors a:hover {
  color: black;
}
@media (max-width: 700px) {
  .footer__contributors {
    display: none;
 }
}
.footer__social-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.6;
}
.footer__social-icon:hover {
  opacity: 1;
}
.footer__social-icon_twitter {
  background-image: url('twitter.svg');
  margin-right: 12px;
}
.footer__social-icon_github {
  background-image: url('github.svg');
}
.footer h4 {
  font-weight: 900;
}
.footer span {
  color: rgba(0, 0, 0, .6);
}
.footer .kogg-website {
  color: rgba(0, 0, 0, .6);
}
.footer .kogg-website:hover {
  color: black;
}
.footer .terms-page {
  color: rgba(0, 0, 0, .6);
  text-decoration: none;
}
.footer .terms-page:hover {
  color: black;
}
